<div class="register-form">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          formControlName="fullname"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
        />
        <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
          <div *ngIf="f.fullname.errors.required">Fullname is required</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div> 